# Maven
/target/

# Eclipse
*.classpath
*.project
*.settings/
*.log

# IntelliJ
*.iml
.idea/

# OS
.DS_Store

# Logs
logs/
*.log
*.tmp

# Others
test-output/

# Allure results and reports
.allure-results/
allure-report/


